In [1]:
import pandas as pd
import json
with open(r'../coronavirus-county-cases-4-9-2020.json') as f:
    df = pd.DataFrame(json.load(f)["data"])
          
#counties = pd.read_json(r'C:\Users\Adelle Jia\GitHub\DataScience\coronavirus-county-cases-4-9-2020.json')
df

                 display_name     id  value
0                New York, NY  36061  87028
1                  Nassau, NY  36059  20140
2                 Suffolk, NY  36103  18803
3             Westchester, NY  36119  17004
4                    Cook, IL  17031  11415
5                  Bergen, NJ  34003   8343
6             Los Angeles, CA   6037   7955
7                Rockland, NY  36087   6665
8                   Essex, NJ  34013   6069
9              Miami-Dade, FL  12086   5898
10                 Hudson, NJ  34017   5879
11           Philadelphia, PA  42101   5271
12                Orleans, LA  22071   5242
13                  Union, NJ  34039   5203
14              Fairfield, CT   9001   4882
15                Passaic, NJ  34031   4690
16              Middlesex, NJ  34023   4628
17              Jefferson, LA  22051   4480
18                 Orange, NY  36071   4309
19                Oakland, MI  26125   4247
20              Middlesex, MA  25017   4045
21                Suffolk, MA  25025   4041
22                  Wayne, MI  26163   4032
23                   King, WA  53033   3886
24               Monmouth, NJ  34025   3248
25                  Ocean, NJ  34029   3093
26                 Macomb, MI  26099   2783
27                 Morris, NJ  34027   2645
28                Broward, FL  12011   2480
29                 Marion, IN  18097   2415
...                       ...    ...    ...
2487            Brunswick, VA  51025      1
2488                Essex, VT  50009      1
2489              Pulaski, IN  18131      1
2490             Delaware, IA  19055      1
2491                Mason, TX  48319      1
2492               Powell, KY  21197      1
2493            Breathitt, KY  21025      1
2494            Jefferson, PA  42065      1
2495           Stillwater, MT  30095      1
2496             Williams, OH  39171      1
2497              Lincoln, CO   8073      1
2498              Dickens, TX  48125      1
2499                 Ohio, IN  18115      1
2500               Clarke, IA  19039      1
2501               Taylor, FL  12123      1
2502                  Lee, IA  19111      1
2503              Ashland, WI  55003      1
2504             Marshall, OK  40095      1
2505             Nicholas, KY  21181      1
2506                Worth, IA  19195      1
2507  Southeast Fairbanks, AK   2240      1
2508              Caribou, ID  16029      1
2509             Marshall, SD  46091      1
2510                Delta, TX  48119      1
2511                 Bath, KY  21011      1
2512          Musselshell, MT  30065      1
2513             Scotland, MO  29199      1
2514               Reeves, TX  48389      1
2515               Beaver, OK  40007      1
2516                 Hart, KY  21099      1

[2517 rows x 3 columns]

In [2]:
counties = df['display_name']
counties

0                  New York, NY
1                    Nassau, NY
2                   Suffolk, NY
3               Westchester, NY
4                      Cook, IL
5                    Bergen, NJ
6               Los Angeles, CA
7                  Rockland, NY
8                     Essex, NJ
9                Miami-Dade, FL
10                   Hudson, NJ
11             Philadelphia, PA
12                  Orleans, LA
13                    Union, NJ
14                Fairfield, CT
15                  Passaic, NJ
16                Middlesex, NJ
17                Jefferson, LA
18                   Orange, NY
19                  Oakland, MI
20                Middlesex, MA
21                  Suffolk, MA
22                    Wayne, MI
23                     King, WA
24                 Monmouth, NJ
25                    Ocean, NJ
26                   Macomb, MI
27                   Morris, NJ
28                  Broward, FL
29                   Marion, IN
                 ...
2487              Brunswick, VA
2488                  Essex, VT
2489                Pulaski, IN
2490               Delaware, IA
2491                  Mason, TX
2492                 Powell, KY
2493              Breathitt, KY
2494              Jefferson, PA
2495             Stillwater, MT
2496               Williams, OH
2497                Lincoln, CO
2498                Dickens, TX
2499                   Ohio, IN
2500                 Clarke, IA
2501                 Taylor, FL
2502                    Lee, IA
2503                Ashland, WI
2504               Marshall, OK
2505               Nicholas, KY
2506                  Worth, IA
2507    Southeast Fairbanks, AK
2508                Caribou, ID
2509               Marshall, SD
2510                  Delta, TX
2511                   Bath, KY
2512            Musselshell, MT
2513               Scotland, MO
2514                 Reeves, TX
2515                 Beaver, OK
2516                   Hart, KY
Name: display_name, Length: 2517, dtype: object

In [13]:
state_orders = pd.read_csv(r'../excel_data\state_wide_orders.csv')
state_orders.set_index('State abbr', inplace=True)
state_orders

,STATE,State,Status,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
State abbr,,,,,,,,,,,,,,,,,,,,,
AL,ALABAMA,Alabama,2,Birmingham,Tuscaloosa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK,ALASKA,Alaska,2,Anchorage,Haines,Skagway,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZ,ARIZONA,Arizona,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AR,ARKANSAS,Arkansas,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CA,CALIFORNIA,California,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CO,COLORADO,Colorado,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CT,CONNECTICUT,Connecticut,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DE,DELAWARE,Delaware,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,FLORIDA,Florida,2,Alachua,Leon,Orange,Osceola,Pinellas,Gadsen,Broward,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GA,GEORGIA,Georgia,2,Athens-Clarke,Dougherty,Fulton,Floyd,Tift,Chatham,Lowndes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HI,HAWAII,Hawaii,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ID,IDAHO,Idaho,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IL,ILLINOIS,Illinois,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IN,INDIANA,Indiana,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IA,IOWA,Iowa,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KS,KANSAS,Kansas,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KY,KENTUCKY,Kentucky,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LA,LOUISIANA,Louisiana,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ME,MAINE,Maine,2,Cumberland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MD,MARYLAND,Maryland,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MA,MASSACHUSETTS,Massachusetts,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MI,MICHIGAN,Michigan,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MN,MINNESOTA,Minnesota,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MS,MISSISSIPPI,Mississippi,2,Lee,Lafayette,Itawamba,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MO,MISSOURI,Missouri,2,Jackson,Clay,Platte,St. Louis,St. Charles,Jefferson,Boone,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MT,MONTANA,Montana,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NE,NEBRASKA,Nebraska,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NV,NEVADA,Nevada,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NH,NEW HAMPSHIRE,New Hampshire,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NJ,NEW JERSEY,New Jersey,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NM,NEW MEXICO,New Mexico,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NY,NEW YORK,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NC,NORTH CAROLINA,North Carolina,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ND,NORTH DAKOTA,North Dakota,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OH,OHIO,Ohio,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OK,OKLAHOMA,Oklahoma,2,Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OR,OREGON,Oregon,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PA,PENNSYLVANIA,Pennsylvania,2,Philadelphia,Allegheny,Bucks,Chester,Delaware,Monroe,Montgomery,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RI,RHODE ISLAND,Rhode Island,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SC,SOUTH CAROLINA,South Carolina,2,Charleston,Richland,Williamsburg,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SD,SOUTH DAKOTA,South Dakota,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TN,TENNESSEE,Tennessee,2,Davidson,Shelby,Williamson,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TX,TEXAS,Texas,2,Dallas,Rockwall,Collin,Denton,Kaufman,McLennan,Navarro,...,Smith,Erath,Polk,Hood,Culberson,Scurry,Willacy,Brown,Kleberg,Montague
UT,UTAH,Utah,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VT,VERMONT,Vermont,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VA,VIRGINIA,Virginia,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WA,WASHINGTON,Washington,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WV,WEST VIRGINIA,West Virginia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WI,WISCONSIN,Wisconsin,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WY,WYOMING,Wyoming,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DC,DC,District of Columbia,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:

status_2 = state_orders[state_orders['Status'] == 2]
#status_2.set_index('State abbr', inplace=True)
status_2.drop(columns=['STATE', 'State', 'Status'], inplace=True)
status_2

,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
State abbr,,,,,,,,,,,,,,,,,,,,,
AL,Birmingham,Tuscaloosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK,Anchorage,Haines,Skagway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FL,Alachua,Leon,Orange,Osceola,Pinellas,Gadsen,Broward,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GA,Athens-Clarke,Dougherty,Fulton,Floyd,Tift,Chatham,Lowndes,Carroll,Cobb,Pickens,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ME,Cumberland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MS,Lee,Lafayette,Itawamba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MO,Jackson,Clay,Platte,St. Louis,St. Charles,Jefferson,Boone,Cass,Springfield,Greene,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OK,Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PA,Philadelphia,Allegheny,Bucks,Chester,Delaware,Monroe,Montgomery,Erie,Lehigh,Northamptom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SC,Charleston,Richland,Williamsburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TN,Davidson,Shelby,Williamson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TX,Dallas,Rockwall,Collin,Denton,Kaufman,McLennan,Navarro,Brazos,Bell,Cameron,...,Smith,Erath,Polk,Hood,Culberson,Scurry,Willacy,Brown,Kleberg,Montague

In [15]:
status_2_dict = {}
for ind in status_2.index:
    status_2_dict[ind] = status_2.loc[ind].dropna().as_matrix()
    
status_2_dict

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

{'AL': array(['Birmingham', 'Tuscaloosa'], dtype=object),
 'AK': array(['Anchorage', 'Haines', 'Skagway'], dtype=object),
 'FL': array(['Alachua', 'Leon', 'Orange', 'Osceola', 'Pinellas', 'Gadsen',
        'Broward'], dtype=object),
 'GA': array(['Athens-Clarke', 'Dougherty', 'Fulton', 'Floyd', 'Tift', 'Chatham',
        'Lowndes', 'Carroll', 'Cobb', 'Pickens', 'Douglas', 'Cherokee',
        'Dekalb', 'Early', 'Rockdale', 'Bartow'], dtype=object),
 'ME': array(['Cumberland'], dtype=object),
 'MS': array(['Lee', 'Lafayette', 'Itawamba'], dtype=object),
 'MO': array(['Jackson', 'Clay', 'Platte', 'St. Louis', 'St. Charles',
        'Jefferson', 'Boone', 'Cass', 'Springfield', 'Greene', 'Randolph',
        'Ray', 'Webster', 'Christian', 'Perry', 'Clinton', 'Buchanan'],
       dtype=object),
 'OK': array(['Cleveland'], dtype=object),
 'PA': array(['Philadelphia', 'Allegheny', 'Bucks', 'Chester', 'Delaware',
        'Monroe', 'Montgomery', 'Erie', 'Lehigh', 'Northamptom'],
       dtype=object),
 'SC': array(['Charleston', 'Richland', 'Williamsburg'], dtype=object),
 'TN': array(['Davidson', 'Shelby', 'Williamson'], dtype=object),
 'TX': array(['Dallas', 'Rockwall', 'Collin', 'Denton', 'Kaufman', 'McLennan',
        'Navarro', 'Brazos', 'Bell', 'Cameron', 'Hunt', 'Stephens',
        'Galveston', 'Lampasas', 'Val Verde', 'Bexar', 'Tarrant',
        'El Paso', 'Travis', 'Williamon', 'Milam', 'Fort Bend', 'Castro',
        'New Braunfels', 'Newton', 'Starr', 'Ellis', 'Jim Wells',
        'Hidalgo', 'Harris', 'Nueces', 'Chambers', 'Liberty', 'Brazoria',
        'San Jacinto', 'Palmview', 'Robertson', 'Hays', 'Longview',
        'Gregg', 'Bunet', 'Smith', 'Erath', 'Polk', 'Hood', 'Culberson',
        'Scurry', 'Willacy', 'Brown', 'Kleberg', 'Montague'], dtype=object)}

In [16]:
df.loc[1]['display_name']

'Nassau, NY'

In [21]:
def statewide_order_county(row, s2, allstates):
    county_state = row['display_name']
    state = county_state.split(", ")[1]
    county = county_state.split(", ")[0]
    status = allstates.loc[state]['Status']
    if status == 1 or status == 0:
        return status
    else:
        if county in s2[state]:
            return 1
        return 0

#x = statewide_order_county('Los Angeles, CA',status_0_dict, status_1_dict, status_2_dict, state_orders)

In [24]:
df['statewide_order'] = df.apply(lambda row: statewide_order_county(row, status_2_dict, state_orders), axis=1)
df

                 display_name     id  value  statewide_order
0                New York, NY  36061  87028                1
1                  Nassau, NY  36059  20140                1
2                 Suffolk, NY  36103  18803                1
3             Westchester, NY  36119  17004                1
4                    Cook, IL  17031  11415                1
5                  Bergen, NJ  34003   8343                1
6             Los Angeles, CA   6037   7955                1
7                Rockland, NY  36087   6665                1
8                   Essex, NJ  34013   6069                1
9              Miami-Dade, FL  12086   5898                0
10                 Hudson, NJ  34017   5879                1
11           Philadelphia, PA  42101   5271                1
12                Orleans, LA  22071   5242                1
13                  Union, NJ  34039   5203                1
14              Fairfield, CT   9001   4882                1
15                Passaic, NJ  34031   4690                1
16              Middlesex, NJ  34023   4628                1
17              Jefferson, LA  22051   4480                1
18                 Orange, NY  36071   4309                1
19                Oakland, MI  26125   4247                1
20              Middlesex, MA  25017   4045                1
21                Suffolk, MA  25025   4041                1
22                  Wayne, MI  26163   4032                1
23                   King, WA  53033   3886                1
24               Monmouth, NJ  34025   3248                1
25                  Ocean, NJ  34029   3093                1
26                 Macomb, MI  26099   2783                1
27                 Morris, NJ  34027   2645                1
28                Broward, FL  12011   2480                1
29                 Marion, IN  18097   2415                1
...                       ...    ...    ...              ...
2487            Brunswick, VA  51025      1                0
2488                Essex, VT  50009      1                1
2489              Pulaski, IN  18131      1                1
2490             Delaware, IA  19055      1                0
2491                Mason, TX  48319      1                0
2492               Powell, KY  21197      1                1
2493            Breathitt, KY  21025      1                1
2494            Jefferson, PA  42065      1                0
2495           Stillwater, MT  30095      1                0
2496             Williams, OH  39171      1                1
2497              Lincoln, CO   8073      1                1
2498              Dickens, TX  48125      1                0
2499                 Ohio, IN  18115      1                1
2500               Clarke, IA  19039      1                0
2501               Taylor, FL  12123      1                0
2502                  Lee, IA  19111      1                0
2503              Ashland, WI  55003      1                1
2504             Marshall, OK  40095      1                0
2505             Nicholas, KY  21181      1                1
2506                Worth, IA  19195      1                0
2507  Southeast Fairbanks, AK   2240      1                0
2508              Caribou, ID  16029      1                1
2509             Marshall, SD  46091      1                0
2510                Delta, TX  48119      1                0
2511                 Bath, KY  21011      1                1
2512          Musselshell, MT  30065      1                0
2513             Scotland, MO  29199      1                0
2514               Reeves, TX  48389      1                0
2515               Beaver, OK  40007      1                0
2516                 Hart, KY  21099      1                1

[2517 rows x 4 columns]